@import './base.less';

body {
    font-family: 'Lato', sans-serif;
    .flexcolumn();
    .background();

    header {
        .flexcolumn();
        width: 95%;
        text-align: center;

        nav {
            .flexrow();
            align-items: flex-start;
            width: 50%;
            justify-content: space-evenly;
            font-size: 18px;

            a {
                .a();
            }

            span {
                .flexcolumn();
            }
            #hideFundamentals, #hidePython, #hideReact, #hideCommands {
                display: none;

                a {
                    margin: .5em;
                }
            }
        }
    }
    main {
        .flexcolumn();
        width: 95%;
        margin: 1em;
        text-align: center;

        p {
            width: 50%;
            font-size: 18px;
            text-align: center;
        }
        a {
            .a();
        }
        hr {
            background-color: @hr;
            height: 10px;
            width: 95%;
            border-radius: 10%;
        }
        .img {
            max-width: 1000px;
        }
        .main {
            .flexcolumn();

            img {
                margin: 1em 0;
            }
        }
        .chart {
            .flexcolumn();
            margin: 1em;
            width: 95%;

            .shape {
                .flexrow();
                justify-content: flex-start;
                
                .theShape {
                    .shapeContainer();
                }
                .code {
                    .codeBlock();
                }
            }
        }
        .resourceContainer {
            .flexcolumn();

            .resources {
                .flexrow();
                flex-wrap: wrap;

                .section {
                    padding: .5em;
                    margin: .5em;

                    .topic {
                        padding: 1em;
                        border: 3px groove black;
                        background-color: #DBEBD4;
                    }
                    #hideBasic, #hideHtmlCss, #hideJs, #hideFullStack, #hideIde, #hidePlaygrounds, #hideResources, #hideChallenges, #hideHackathons, #hideBlogRss {
                        display: none;
                    }
                }
            }
        }
        .nav {
            .flexcolumn();
            .a();
        }
    }
    footer {
        .flexrow();
        width: 95%;
        margin: 1em;
    }
}

@import './media.less';