/* div {
    border: 1px solid red;
} */

.minimal_display_div {
    width: fit-content;
    margin: 25px;
    border: 20px solid yellow;
}

.display_div {
    border: 2px solid green;
}

.mutually_exclusive_buttons button:first-child {
    background-color: lightgreen;/* signifies that this button represents a property in use */
}

.flex_start_gap_5 {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 5px;
}

.flex_center_col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex_center_row {
    display: flex;
}

.emojiWrap {
    width: 250px;
}

.boxNinja {
    /* width: 200px; */
    padding: 0px;
    margin: 0px;
    background-color: green;/* required for functionality, needs a color */
    border: 0px solid black;/* required for functionality, px need to remain zero */
}

.fix_to_bottom {
    position: fixed;
    bottom: 5px;
}