/* currently not using less styling, needs to be transferred over */

#darkModeStyling{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    gap: 50px;
}

#darkModeIconSizing{
    width: 45px;
    cursor: pointer;
}