#fakeTerminal {
    border: 2px solid #00ff00; /* Green border, like a magical glow */
    background-color: #000000; /* Dark background, like a mysterious spell */
    color: #00ff00; /* Green text, for that magical touch */
    padding: 10px;
    min-width: 500px;
    min-height: 300px;
    display: flex;
}
#term {
    font-family: 'Courier New', monospace; /* Use a monospaced font for consistent spacing */
    white-space: pre; /* Preserve white spaces and line breaks */
    font-size: 20px; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    line-height: 1.5;
    text-align: left;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, tr, td, th {
  border: #FFEDAB 2px solid;
  padding: .5em;
  margin: .2em;
}
.user-command {
    color: #ff00ff; /* Purple color for user commands */
  }
#step1desc, #step2Start, #step2desc, #step3Start, #step4Start, #step5Start, #step3desc, #step4desc, #step5desc, #step6Start, #step6desc, #step7Start, #step7desc, #step8Start, #step8desc, #step9Start, #step9desc, #step10Start, #step10desc, #step11Start, #step11desc, #step12Start, #step12desc, #step3aStart, #step3adesc, #step13Start, #step13desc, #step14Start {
  display: none;
}