#fakeTerminal {
    border: 2px solid #00ff00; /* Green border, like a magical glow */
    background-color: #000000; /* Dark background, like a mysterious spell */
    color: #00ff00; /* Green text, for that magical touch */
    padding: 10px;
    min-width: 300px;
    min-height: 200px;
}

.user-command {
    color: #ff00ff; /* Purple color for user commands */
  }
  
  .file {
    color: #00ffff; /* Cyan color for files */
    margin-right: 10px;
  }

  #term {
    font-family: 'Courier New', monospace; /* Use a monospaced font for consistent spacing */
    white-space: pre; /* Preserve white spaces and line breaks */
    font-size: 20px; /* Adjust font size as needed */
    margin: 0; /* Remove default margin */
    line-height: 1.5;
    text-align: left;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }