body main .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body main .row .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
body main .row .sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .row .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
